/* تنسيق عام للموقع */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* تنسيق الهيدر */
header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

/* تنسيق قسم الصور */
.images-section {
    padding: 20px;
    text-align: center;
}

.car-images img {
    margin: 10px;
    border-radius: 8px;
    width: 300px;
    height: 200px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* رابط التسجيل */
.login-link {
    color: #fff;
    text-decoration: none;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
}

/* تنسيق صفحة تسجيل الدخول */
.login-container {
    width: 565px;
    margin: 150px auto;
    padding: 15px;
    background-color: white;
    border-radius: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
} */

.login-container p {
    text-align: center;
    font-size: 0.9em;
}

.login-container a {
    color: #4CAF50;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}


/* From Uiverse.io by gharsh11032000 */ 
.animated-button {
    width:100%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #4CAF50;
    box-shadow: 0 0 0 2px #4CAF50;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: #4CAF50;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 20px;
    background-color: #4fcb53;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    width:90%;
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #212121;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px greenyellow;
  }
  
  .animated-button:hover .circle {
    width: 100%;
    height: 220px;
    opacity: 1;
  }
/* =========================================================================================   */

/* From Uiverse.io by reshades */ 
.button {
    background-color: #ffffff00;
    color: #4fcb53;
    width: 8.5em;
    height: 2.9em;
    border: #4fcb53 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
  }
  
  .button:hover {
    background-color: #4fcb53;
    cursor: pointer;
  }
  
  .button svg {
    width: 1.7em;
    position: absolute;
    display: flex;
    transition: all 0.2s ease;
  }
  
  .button:hover svg {
    transform: translateX(5px);
  }
  
  .text {
    margin:2px 1.5rem;
    margin-right:1rem;
  }





  
